<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Calendar</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form action="#" class="nav-list-search  input-group" method="get" style="width:50%;">
            <input class="form-control rounded" placeholder="검색어" type="search"/><p>&nbsp;</p>
            <button class="btn btn-outline-primary " type="submit">검색</button>
        </form>

        <div>
            <a href="sellProduct.html"><img alt="유저이미지" src="/asset/user_icon.png" style="width: 45px; height: 45px;"></a>
        </div>
    </div>
</nav>